* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  background-image: linear-gradient(#4899b5 0% 10%, #cdf3fb);
  width: 800px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  padding: 5%;
  font-family: "Love Ya Like A Sister", cursive;
  text-align: center;
  font-size: 7em;
  font-weight: 400;
  text-shadow: 3px 3px #fd0d66;
  color: #ffcc00;
}

h2 {
  text-align: center;
  padding: 5%;
}

.ry-info {
  content: "";
  display: table;
  clear: both;
}

.ry-text {
  float: left;
  margin: 20px;
  width: 45%;
}

p {
  padding: 4%;
}

ul {
  padding-inline-start: 0;
}

.navbar {
  position: fixed;
  left: 0;
  bottom: 10px;
  font-size: 1.5em;
  width: 100%;
}

.grass-nav {
  position: fixed;
  bottom: -80px;
  height: 50%;
  width: 100%;
  z-index: -1;
}

.navbar li {
  display: inline-block;
  width: 24%;
}

.navbar a {
  float: left;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  color: #ffcc00;
  text-shadow: 2px 2px #fd0d66;
  text-align: center;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  color: #5feccc;
  transition: 0.3s;
  padding-bottom: 20px;
  font-size: 1.5em;
  text-shadow: 3px 3px 3px #160752;
}

/* remember to delete classes for a tags in html */

/* styling of deer at the bottom of landing page */

.img-container {
  text-align: center;
}

.img-container img {
  width: 30%;
}
